<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome</title>
  <% include partials/scripts.ejs %> <!-- on inclut le script en début pour charger les fichiers front-end (bootstrap) -->
</head>
<body class="backfond">
  <div class="jumbotron jumbotron-fluid primary white">
    <div class="container text-center">
      <h1 class="display-2">
        Bonjour, <%= user.username %>
      </h1>
      <a class="btn secondary white btn-lg passage" href="/logout">Logout</a>
    </div>
  </div>
<div class="container text-center">
    <p>
    <!-- cette boucle fait apparaître tous les jeux présents dans la base -->
<% games.forEach(function(item){%>
    <p>
      <!-- noUnderline est une fonction que nous avons mis dans notre css pour ne pas faire apparaitre le trait sous le lien http -->
      <!-- de même passage permet de changer la couleur lors d'un 'hover' sur le lien. Display-5 règle la taille -->
      <a class="passage noUnderline display-5" href="/<%=item.name%>">
        <%=item.name%> -----  highscore : <%=item.highscore%> -------- </br> your highscore : <%=scoreJoueur[item.name]%>
      </a>
    </p>

<%})%>
</p>
</div>

</table>
</body>
</html>
